[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"


[dev-packages]

pyflakes = "*"
"flake8" = "*"
pytest = "*"
mock = "*"
pdbpp = "*"


[requires]

python_version = "3.6"